<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NETChrisUsick.Properties.Settings.AMDatabaseConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\AMDatabase.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="applicationName" value="RRC Automotive Group"/>
    <add key="salesTaxRate" value="0.13"/>
    <add key="GST" value="0.05"/>
    <add key="PST" value="0.08"/>
    <add key="companyName" value="RRC Automotive Group"/>
    <add key="companyAddress" value="123 Inheritance Drive"/>
    <add key="companyCity" value="Winnipeg"/>
    <add key="companyProvince" value="Manitoba"/>
    <add key="CompanyPostalCode" value="R7G 4R6"/>
    <add key="companyPhone" value="(204)867-5309"/>
    <add key="logFile" value="error.log"/>
  </appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup></configuration>
