<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="applicationName" value="RRC Automotive Group"/>
    <add key="salesTaxRate" value="0.13"/>
    <add key="GST" value="0.05"/>
    <add key="PST" value="0.08"/>
    <add key="companyName" value="RRC Automotive Group"/>
    <add key="companyAddress" value="123 Inheritance Drive"/>
    <add key="companyCity" value="Winnipeg"/>
    <add key="companyProvince" value="Manitoba"/>
    <add key="CompanyPostalCode" value="R7G 4R6"/>
    <add key="companyPhone" value="(204)867-5309"/>
  </appSettings>
</configuration>